
body {
  height: 600px;
}
img {
  width: 100%;
  height: 200px;
}


.game-over {
  font-size: 2em;
}

.healthbar {
  background: red;
  height: 20px;
}

.titlebar {
  margin: 0 auto;
  max-width: 80%;
}

#win-msg {
  text-align: center;
  font-size: 5em;
}

.target {
  text-align: center;
  font-size: 15em;
  margin: 0 auto;
}

.crystal {
  color: white;
  height: 100px;
}

.maingame {
margin: 0 auto;
max-width: 80%;
height: 600px;
display: grid;
grid-template-columns: 1fr;
}
.score-screen {
background-color: yellow;
}

.target-screen {
  background-color: blue;
  height: 300px;
}

.crystal-screen {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.wrapper {
margin: 0 auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;
background-color: #fff;
color: #444;
margin: auto;

}

.box {
background-color: #444;
color: #fff;
border-radius: 5px;
padding: 20px;
font-size: 150%;
}
