/* CSS GRID WORKS FINE ON THIS MACHINE.... */

body {
  height: 600px;
}
img {
  width: 100%;
  height: 200px;
}


#progressBar {
    width: 400px;
    height: 22px;
    margin-right: 0;
    float: right;
    /*border: 1px solid #111;*/
    /*background-color: #292929;*/
}

#progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0099ff;
}

.game-over {
  font-size: 2em;
}

.healthbar {
  background: red;
  height: 20px;
}

.titlebar {
  margin: 0 auto;
  max-width: 80%;
}

#win-msg {
  text-align: center;
  font-size: 5em;
  /*visibility: hidden;*/
}

.target {
  text-align: center;
  font-size: 15em;
  margin: 0 auto;
}

.crystal {
  color: white;
  height: 100px;
}

.maingame {
/* display: block; */
/* margin-left: 500px; */
margin: 0 auto;
max-width: 80%;
height: 600px;
display: grid;
grid-template-columns: 1fr;
}
.score-screen {
background-color: yellow;
}

.target-screen {
  background-color: blue;
  height: 300px;
}

.crystal-screen {
  /*background-color: green;*/
  display: grid;
  /*grid-template-rows: 100px; */
  grid-template-columns: repeat(4, 1fr);
  /*grid-template: crystal crystal crystal;*/
}

.wrapper {
/* margin: 0 auto; */
/* max-width: 50%; */
margin: 0 auto;
/*max-width: 50%;*/
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;
/*padding: 20px;*/
background-color: #fff;
color: #444;
margin: auto;
/*align-items: start;*/

}

.box {
/*width: 50px;*/
background-color: #444;
color: #fff;
border-radius: 5px;
padding: 20px;
font-size: 150%;
}
